.galeria {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.grid-galeria {
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  margin-bottom: 20px;
}
.grid-galeria-h {
  grid-column: 2;
}
.gl-inf {
  width: 350px;
  height: 350px;
  margin-top: 10px;
}
.bg-img-1 {
  background-image: url(https://picsum.photos/350/350);
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-img-2 {
  background-image: url(https://picsum.photos/id/103/350/350);
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-img-3 {
  background-image: url(https://picsum.photos/id/1/350/350);
  background-repeat: no-repeat;
  background-size: cover;
}
.texto {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
  font-size: 1.5rem;
  width: 350px;
  height: 350px;
}
.texto:hover {
  opacity: 1;
  background-color: var(--heading-color);
}
